build*/
Win32/
x64/

*.o
*.a
*.gcda
*.gcno
*.gcov
*.debug
*.full

results.xml
test-reports
test-results
lcov_html
analysis_html

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
*.ninja
.ninja_*
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

tools/analysis
tools/build-test
tools/coverage
tools/describe
tools/mkversion
unit/unit
